
<div class="container mt-4">
  <div>
    <h2>Manage Restaurants</h2>
  </div>
  <div class="row mb-5">
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
      <div class="card card-inverse card-info">
        <img class="card-img-top" src="assets/images/restaurant-default.jpg">
        <div class="card-block">
          <h4 class="card-title mt-3">Tawshif Ahsan Khan</h4>
          <div class="meta card-text">
            <a>Friends</a>
          </div>
          <div class="card-text">
            Tawshif is a web designer living in Bangladesh.
          </div>
        </div>
        <div class="card-footer">
          <small>Last updated 3 mins ago</small>
          <button class="btn btn-info float-right btn-sm">Manage</button>
        </div>
      </div>
    </div>
  </div>
</div>
