<div class="container col-9 mt-4" *ngIf="restaurant">
  <h2>Manage {{restaurant.name}}</h2>
  <ngb-tabset #t="ngbTabset">
    <ngb-tab id="tab-selectbyid1">
      <ng-template ngbTabTitle>Manage Orders</ng-template>
      <ng-template ngbTabContent>
        <app-manage-orders></app-manage-orders>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="tab-selectbyid2">
      <ng-template ngbTabTitle>Manage Tables <span class="badge badge-secondary">{{restaurant.tables.length}}</span> </ng-template>
      <ng-template ngbTabContent>
        <app-manage-tables (askReload)="getFreshRestaurantData()" [restaurant]="restaurant"></app-manage-tables>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="tab-selectbyid3">
      <ng-template ngbTabTitle>Manage Food <span class="badge badge-secondary">{{restaurant.foods.length}}</span></ng-template>
      <ng-template ngbTabContent>
        <app-manage-foods (askReload)="getFreshRestaurantData()" [restaurant]="restaurant"></app-manage-foods>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="tab-selectbyid4">
      <ng-template ngbTabTitle>Work Hours</ng-template>
      <ng-template ngbTabContent>
        Coming soon.
      </ng-template>
    </ngb-tab>
    <ngb-tab id="tab-selectbyid5">
      <ng-template ngbTabTitle>Edit Restaurant Info</ng-template>
      <ng-template ngbTabContent>
        Coming soon.
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
