<div class="container col-md-12 my-2">
  <h4>Edit {{foodToEdit.name}}</h4>
  <form #editFoodForm="ngForm" (ngSubmit)="editFood(editFoodForm.value)">
    <div class="form-group">
      <label for="name">Food name</label>
      <input [ngModel]="foodToEdit.name"
             name="name" type="text" class="form-control" id="name">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" rows="3" id="description" [ngModel]="foodToEdit.description" name="description"></textarea>
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input [ngModel]="foodToEdit.price"
             name="price" type="number" class="form-control" id="price" min="10"
             aria-describedby="priceExplain">
      <small id="priceExplain" class="form-text text-muted">Price in DZD</small>
    </div>
    <button type="submit" class="btn btn-outline-primary">Submit</button>
  </form>
</div>
