<div class="col-md-10 mx-auto">
  <h2>New Order</h2>
  <div class="booking-form">
    <form #newOrderForm="ngForm" (ngSubmit)="makeNewOrder(newOrderForm.value)">
      <div class="form-group">
        <div class="form-checkbox">
          <label for="roundtrip">
            <input type="radio" value="0" id="roundtrip" name="flight-type" [(ngModel)]="orderType">
            <span></span>Order and book table
          </label>
          <label for="one-way">
            <input type="radio" value="1" id="one-way" name="flight-type" [(ngModel)]="orderType">
            <span></span>Order and get food delivered
          </label>
        </div>
      </div>
      <div class="card shopping-cart mb-3" [className]="liveCart.foods.length>0 ? 'card shopping-cart' : ''">
        <div class="card-body">
          <div class="row m-1" *ngFor="let product of getFoodInCart">
            <div class="col-12 col-sm-12 col-md-2 text-center">
              <img class="img-responsive" src="assets/images/food-default.jpg" alt="Food Default image" width="120"
                   height="80">
            </div>
            <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
              <h4 class="product-name"><strong>{{product.name}}</strong></h4>
              <h4>
                <small>{{product.description}}</small>
              </h4>
            </div>
            <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
              <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                <h6><strong>{{product.price}}.00 <span class="text-muted">DZD</span></strong></h6>
              </div>
              <div class="col-2 col-sm-2 col-md-2 text-right">
                <button type="button" class="btn btn-outline-danger btn-xs" (click)="removeItem(product.id)">
                  Remove Item
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <span class="form-label">Order food from (Restaurant)</span>
            <select (change)="resetCart()" class="form-control" [(ngModel)]="restaurantId" name="restaurant_id"
                    required="required">
              <option *ngFor="let restaurant of allRestaurants" value="{{restaurant.id}}">{{restaurant.name}}</option>
            </select>
            <span class="select-arrow"></span>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <span class="form-label">Select Food</span>
            <select (change)="addToCart()" [(ngModel)]="selectedFood" class="form-control" name="food_id"
                    required="required">
              <option *ngFor="let food of availableFoods" value="{{food.id}}" (select)="alert(food.id)">{{food.name}}
              </option>
            </select>
            <span class="select-arrow"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <span class="form-label">Order Date</span>
            <input [(ngModel)]="orderDate" name="order_date" class="form-control" (change)="checkRestaurantOpenStatus()"
                   type="date" required="required">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <span class="form-label">Order Time</span>
            <ngb-timepicker [(ngModel)]="orderTime" [ngModelOptions]="{standalone: true}" class="form-control pt-4 pb-1"
                            (ngModelChange)="checkRestaurantOpenStatus()"></ngb-timepicker>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <span class="form-label">Coupon</span>
            <input class="form-control" type="text" required="" disabled>
            <span class="select-arrow"></span>
          </div>
        </div>
        <div class="col-md-4" *ngIf="orderType == '0'">
          <div class="form-group">
            <span class="form-label">People</span>
            <select class="form-control" name="people_count" [(ngModel)]="peopleCount" (change)="findFreeTable()">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
            <span class="select-arrow"></span>
          </div>
        </div>
        <div class="col-md-4" *ngIf="orderType == '0'" (change)="findFreeTable()">
          <div class="form-group">
            <span class="form-label">Table class</span>
            <select class="form-control" name="table_class" [(ngModel)]="tableClass">
              <option value="1">⭐</option>
              <option value="2">⭐⭐</option>
              <option value="3" selected>⭐⭐⭐ (Normal)</option>
              <option value="4">⭐⭐⭐⭐</option>
              <option value="5">⭐⭐⭐⭐⭐ (VIP)</option>
            </select>
            <span class="select-arrow"></span>
          </div>
        </div>
        <div class="col-md-8" *ngIf="orderType == '1'">
          <div class="form-group">
            <span class="form-label">Address</span>
            <input class="form-control" [ngModel]="deliveryAddress" type="text" id="delivery_address"
                   name="delivery_address" required="required">
            <span class="select-arrow"></span>
          </div>
        </div>

      </div>
      <ngb-alert *ngIf="restaurantOpenStatus !== undefined && !restaurantOpenStatus.open" [type]="'danger'">{{
        getSelectedRestaurant.name }} will not be open before {{restaurantOpenStatus.next.date}}
      </ngb-alert>
      <ngb-alert *ngIf="availableTables.length < 1 && selectedTable == -1 && orderType == 0" [type]="'danger'">No table available
        available for that criteria or at that time!
      </ngb-alert>
      <ngb-alert *ngIf="availableTables.length > 0 && selectedTable != -1 && orderType == 0" [type]="'success'">We found a Table that fulfills your
        criteria!
      </ngb-alert>
      <div class="form-group">
        <div class="form-btn">
          <input type="submit" class="submit-btn" value="Order Now"
                 [disabled]="restaurantOpenStatus !== undefined && !restaurantOpenStatus.open || (availableTables.length < 1 && selectedTable == -1 && orderType == 0)">
        </div>
      </div>
    </form>
  </div>
</div>
