<!-- Page Content -->
<div class="container">

  <!-- Heading Row -->
  <div class="row align-items-center my-5">
    <div class="col-lg-7">
      <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/images/index-food.png" alt="Tasty Food!">
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-5">
      <h1 class="font-weight-light">Discover restaurants and book tables</h1>
      <p>Find food you love from local restaurants and pre-book a table</p>
      <a class="btn btn-primary" href="#">Book Now</a>
    </div>
    <!-- /.col-md-4 -->
  </div>
  <!-- /.row -->

  <!-- Call to Action Well -->
  <div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
      <p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-3 mb15">
      <article class="box h-100">
        <figure class="itembox text-center">
          <span class="mt-2 icon-wrap rounded icon-sm bg-success"><i class="fa fa-user white"></i></span>
          <figcaption class="text-wrap">
            <h5 class="title">Creative Strategy &amp; solution</h5>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
          </figcaption>
        </figure> <!-- iconbox // -->
      </article> <!-- panel-lg.// -->
    </div><!-- col // -->
    <div class="col-md-3 mb15">
      <article class="box h-100">
        <figure class="itembox text-center">
          <span class="mt-2 icon-wrap rounded icon-sm bg-warning"><i class="fa fa-cogs white"></i>	</span>
          <figcaption class="text-wrap">
            <h5 class="title">Some good title</h5>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et </p>
          </figcaption>
        </figure> <!-- iconbox // -->
      </article> <!-- panel-lg.// -->
    </div> <!-- col // -->
    <div class="col-md-3 mb15">
      <article class="box h-100">
        <figure class="itembox text-center">
          <span class="mt-2 icon-wrap rounded icon-sm bg-primary"><i class="fa fa-clock white"></i>	</span>
          <figcaption class="text-wrap">
            <h5 class="title">Track your time</h5>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et </p>
          </figcaption>
        </figure> <!-- iconbox // -->
      </article> <!-- panel-lg.// -->
    </div> <!-- col // -->
    <div class="col-md-3 mb15">
      <article class="box h-100">
        <figure class="itembox text-center">
          <span class="mt-2 icon-wrap rounded icon-sm bg-secondary"><i class="fa fa-building white"></i>	</span>
          <figcaption class="text-wrap">
            <h5 class="title">Building Business Innovation</h5>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et </p>
          </figcaption>
        </figure> <!-- iconbox // -->
      </article> <!-- panel-lg.// -->
    </div> <!-- col // -->
  </div> <!-- row.// -->


</div>
<!-- /.container -->
