<div class="container col-10 mt-4">
  <h2>Administration</h2>
  <ngb-tabset #t="ngbTabset">
    <ngb-tab id="tab-selectbyid1">
      <ng-template ngbTabTitle>Manage Users</ng-template>
      <ng-template ngbTabContent>
        <div class="mt-2"><p>Here you can see all the registered users, you can use the input below to filter them!</p>
        </div>


        <form>
          <div class="form-group form-inline">
            Filter Users: <input class="form-control ml-2" type="text" [formControl]="filter"/>
          </div>
        </form>

        <table class="table table-striped" *ngIf="users !== undefined && users.length>0 && isLoading == false">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Full Name</th>
            <th scope="col">e-mail</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Sign up date</th>
            <th scope="col">Role</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users$ | async; index as i">
            <th scope="row">
              <ngb-highlight [result]="user.id" [term]="filter.value"></ngb-highlight>
            </th>
            <td>
              <ngb-highlight [result]="user.first_name+' '" [term]="filter.value"></ngb-highlight>
              <ngb-highlight [result]="user.last_name" [term]="filter.value"></ngb-highlight>
            </td>
            <td>
              <ngb-highlight [result]="user.email" [term]="filter.value" class="h6"></ngb-highlight>
            </td>
            <td>
              <ngb-highlight [result]="user.phone_number" [term]="filter.value" class="h6"></ngb-highlight>
            </td>
            <td>
              <ngb-highlight [result]="user.join_date" [term]="filter.value" class="h6"></ngb-highlight>
            </td>
            <td>
              <ngb-highlight [result]="getUserRoleText(user.role)" [term]="filter.value" class="h6"></ngb-highlight>
            </td>
            <td>
              <button type="button" class="btn btn-outline-primary">Change role</button>
            </td>
          </tr>
          </tbody>
        </table>

      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
