<div class="container py-5">

  <!-- For demo purpose -->
  <div class="row text-center mb-5">
    <div class="col-lg-8 mx-auto">
      <h1 class="display-4">My Orders</h1>
      <p class="lead mb-0">Here's the history of your completed and pending orders!</p>
    </div>
  </div><!-- End -->


  <div class="row">
    <div class="col-lg-7 mx-auto">

      <!-- Timeline -->
      <ul class="timeline">
        <li *ngFor="let order of myOrders" class="timeline-item bg-white rounded ml-3 p-4 shadow">
          <div class="timeline-arrow"></div>
          <h2 class="h5 mb-0">Order #{{order.id}} from {{order.restaurant_name}}</h2><span class="small text-gray"><i class="fa fa-clock-o mr-1"></i> Ordered for: {{order.order_time}}</span>
          <h3><span class="badge badge-{{getBadgeColor(order.order_status)}}">{{order.order_status}}</span><span class="badge badge-light">Table Booking</span></h3>
          <p class="text-md-left font-weight-bold mb-0">Contains: </p>
          <ul class="mb-1">
            <li *ngFor="let food of order.foods">{{food.name}} ({{food.price}}.00 DZD)</li>
          </ul>
          <div class="form-group">
            <h2>Total price<span class="badge badge-secondary ml-1">{{order.price}}.00 DZD</span></h2>
          </div>
          <div class="form-group">
          <button type="button" class="btn btn-outline-dark">Cancel Order</button>
          </div>
        </li>
      </ul><!-- End -->

    </div>
  </div>
</div>
