<div><p>Here you can see all the orders relative to the restaurant, you can use the input below to filter them!</p>
</div>


<form>
  <div class="form-group form-inline">
    Filter Orders: <input class="form-control ml-2" type="text" [formControl]="filter"/>
  </div>
</form>

<table class="table table-striped" *ngIf="orders.length>0 && isLoading == false">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Client</th>
    <th scope="col">Type</th>
    <th scope="col">Menu</th>
    <th scope="col">Order Time</th>
    <th scope="col">Status</th>
    <th scope="col">Price Total</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of orders$ | async; index as i">
    <th scope="row">
      <ngb-highlight [result]="order.id" [term]="filter.value"></ngb-highlight>
    </th>
    <td>
      <ngb-highlight [result]="order.client_fullname" [term]="filter.value"></ngb-highlight>
    </td>
    <td>
      <ngb-highlight [result]="order.order_type" [term]="filter.value" class="h6"></ngb-highlight>
    </td>
    <td>
      <ul>
        <li *ngFor="let food of order.foods">
          {{food.name}}
        </li>
      </ul>
    </td>
    <td>
      <ngb-highlight [result]="order.order_time" [term]="filter.value" class="h6"></ngb-highlight>
    </td>
    <td>
      <h5><span class="badge badge-{{getBadgeColor(order.order_status)}}">{{order.order_status}}</span>
      </h5>
    </td>
    <td>
      <ngb-highlight [result]="order.price" [term]="filter.value"></ngb-highlight>.00 DZD
    <td>
      <div class="btn-group mr-3">
        <button type="button" class="btn btn-outline-success" (click)="confirmOrder(order.id)">Mark as completed
        </button>
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
          <button class="btn btn-outline-success dropdown-toggle-split" ngbDropdownToggle></button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button ngbDropdownItem (click)="cancelOrder(order.id)" *ngIf="order.order_status == ('Processing' || 'Waiting for payment')">Cancel Order</button>
            <button ngbDropdownItem (click)="openDetails(order)">{{ getInfoType(order.order_type)}}</button>
            <button ngbDropdownItem *ngIf="order.receipt_url"><a href="{{order.receipt_url}}" target="_blank">View receipt</a></button>
          </div>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
